.two-column-wrapper
    .container
        div.headline
            h2.bottom-gradient-border 2 column card wrapper
    .container
        .card
            figure
                img( src="lorem", width="400", height="600" )
            .card-body-wrapper
                .card-body
                    h2 Welcome
                    p Make yourselves as home
        .card
            figure
                img( src="lorem", width="400", height="600" )
            .card-body-wrapper
                .card-body
                    h2 Welcome
                    p Make yourselves as home
        .card
            figure
                img( src="lorem", width="400", height="600" )
            .card-body-wrapper
                .card-body
                    h2 Welcome
                    p Make yourselves as home
        .card
            figure
                img( src="lorem", width="400", height="600" )
            .card-body-wrapper
                .card-body
                    h2 Welcome
                    p Make yourselves as home
