doctype html
html
    head
        title Friendly Frontend Prototyper
        link( rel="stylesheet", href="style.css" )
    body
        header.site-header.gradient-border.border-bottom
            .container
                h1 Friendly Frontend Prototyper
        main
            include card-wrapper.pug

        footer.site-footer.gradient-border.border-top
            .container
                p footer

        script( src="index.js" )