/* spacing and breakpoints */
$breakpoint-m: 1200px;
$container_width: 1024px;

/* colors */
$base_color: #fff;
$secondary_color: #999;
$header-background-color: #9bb;
$footer-background-color: #9bb;

/* typography */
$font-family: sans-serif;
