/* spacing and breakpoints */
$breakpoint-m: 1200px;
$container_width: 1024px;

/* colors */
$base_color: #111;
$secondary_color: #999;
$header-background-color: #fff;
$footer-background-color: #fff;

/* typography */
$font-family: sans-serif;
